.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
    gap: 1rem;
}
#header{
    border: solid black;
    border-radius: 10px;
    background-color: #f3ee6d;
}
h1{
    text-align: center;
    margin-top: 1%;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
img{
    width: 350px;
    height: 300px;
    border-radius: 15px;
}
.item1, .item2, .item3, .item4, .item5, .item6{
    display: flex;
    align-items: end;
    border: solid black;
    border-radius: 15px; 
    background-size: cover;

}
.item1{
    background-image: url("/img/Webb_lampa1.webp");
}
.item2{
    background-image: url("/img/Webb_lampa2.webp");    
    object-fit: fill;
}
.item3{
    background-image: url("/img/Webb_lampa3.webp");
}
p{
    margin: 0%;
    font-size: 2rem;
}