body{
background-color: #f3ef6d7d ;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
    gap: 1rem;
}
#header{
    border: solid black;
    border-radius: 10px;
    background-color: #f3ee6d;
}
h1{
    text-align: center;
    margin-top: 1%;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
img{
    display: block;
    padding-left: auto;
    padding-right: auto;
    width: auto;
    height: 295px;
}
.item{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px; 
    background-image: linear-gradient(to top, black 0%, black 22%, white 22%, white 100%);
    overflow: hidden;

}
.produkt{
    margin: 0%;
    font-size: 1.8em;
    padding-left: 1rem;
    color: white;
}
.link{
    text-decoration: none;
    color: black;
    border: solid black;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    background-color: #faf79c ;
}
button{
    width: 40%;
    position: relative;
    left: 15em;
}
#varukorg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 641px) and (max-width: 1007px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .button{
        position: relative;
        left: 12em;
    }
    
}

@media screen and (max-width: 640px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .button{
        width: 50%;
        position: relative;
        left: 8em;
    }
}